.title {
    color:red;
    width: 100%;
    padding: 1em;
    justify-content: center;
    
}
img{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: ". img .";
    justify-content: center;
    border: black dotted 2px;
}